@import "tailwindcss";

@theme {
  /* Adicionando sua Cor Customizada */
  /* Isso cria automaticamente as classes: bg-brand, text-brand, border-brand, etc. */
  --color-brand: #FFBF76;
  --color-brand2: #C78F36;
  --color-blues: #121731;

  /* Adicionando sua Google Font */
  /* Isso cria a classe: font-poppins */
  --font-poppins: "Poppins", sans-serif;
  --font-Montserrat: "Montserrat";
}